{%extends "baseForm.html"%}
 


{%block form-content%} 
 
        {%load filters%}
       
          <form action={%url "create_main_form"%} method="post" class="form-horizontal" id="create_form">
              {% csrf_token %}
       
              {{request.session.main_part|safe}} 
             
               
              <a class="btn btn-info" href="#"  onclick="javascript:addDomainForm()">添加域名</a>
            </div>       
          </form>
     
        </div>
      </div>
    
    </div>
   </div>
<form action={%url "store_domainName"%} method="post" id="domainForm-0" style="display:none">
{% csrf_token %}
 <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
              domainName: <input type="text" name="domainName-0" >  <input type="text" value= .{{request.session.root}} readOnly="true"> 
          
          
            &nbsp&nbsp&nbsp&nbsp
            <a class="btn btn-info"  onclick='javascript:document.getElementById("domainForm-0").submit()'>保存</a>
            <a class="btn btn-info"  onclick='javascript:document.getElementById("domainForm-0").parentNode.removeChild(document.getElementById("domainForm-0"))'>删除</a>
            
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Sp</th>
                  <th>Mode</th>
                  <th>Ip</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX">
                
               
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 </div>
</form>
 
{%for key,domainForm in request.session.mapping_part.items%}
<form action={%url "store_domainName"%} method="post" id="domainForm-{{forloop.counter}}">
{% csrf_token %}
 <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            domainName: <input type="text" name={{key}} value={{domainForm.values.0}}>
             <input type="text" value= .{{request.session.root}} readOnly="true"> 
             <span class="badge badge-warning">{{domainForm.error}}</span>
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  
            <a class="btn btn-info"  onclick='javascript:document.getElementById("domainForm-{{forloop.counter}}").submit()'>保存</a>
            {%if not domainForm.error%}
            <a class="btn btn-info" href= {%url "create_mapping_form"  key%}>创建域名映射</a>
            {%endif%}
            <a class="btn btn-info" href= {%url "delete_domain_form"  key%}>删除域名</a>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                 <tr>
                  <th>Ip</th>
                  <th>Mode</th>
                  <th>Sp</th>
                  <th>Operation</th>
                </tr>
              </thead>
              <tbody>
               {%for mapping in domainForm.mapping%}
             
                <tr class="odd gradeX">
                    {%for value in mapping.values%}
                            <th >{{value}} </th>
                     {%endfor%}
                     {%load filters%}
                      
                     <th><a href={%url "delete_mapping_form" key forloop.counter0 %}><i class="icon icon-remove"></i></a></th>
                  
                </tr>
                 {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
 </div>
</form> 

{%endfor%}
      {%block form-submit%}  <a class="btn btn-info"  href={%url "add_form"%}>提交</a>{%endblock%}
         
{%endblock%}    
 
 


{%block js%}
{{block.super}}
<script>
    function addDomainForm(){
     var form =   document.getElementById("domainForm-0")
     var new_form =  form.cloneNode()
     new_form.innerHTML = form.innerHTML
     new_form.style.display="block"
     new_form.id="domainForm-"+(document.getElementsByTagName("form").length-1)
     new_form.innerHTML=new_form.innerHTML.replace(/domain\w*-0/g,function(data){
                                                                      
                                                                     return data.replace("0",document.getElementsByTagName("form").length-1)
                                                                   })
   
     form.parentNode.appendChild(new_form)
     }
</script>
{%endblock%}
