{%extends "baseForm.html"%} 
{%block form-content%} 
  
        {%load filters%}
       
          <form action={%url "edit_form" request.session.Id%} method="post" class="form-horizontal" id="create_form">
              {% csrf_token %}
         
               <input type="hidden" value={{hidden}} name="domainName">
               {% for field in main_part%}
                <div class="control-group">
                   <label class="control-label">{{field.label_tag}}</label>
                   <div class="controls">
                     {{field}}
                    </div>
                    <span class="help-inline">{{field.errors}}</span> 
                </div> 
                 {% endfor %}
         
            </div> 
            
            
             
 
{%for domainForm in request.session.mapping_part%}
 
 <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            domainName: <input type="text" value={{domainForm.domainName}} >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
           </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                 <tr>
                  <th>Ip</th>
                  <th>Mode</th>
                  <th>Sp</th>
                  
                </tr>
              </thead>
              <tbody>
               {%for mapping in domainForm.mapping%}
             
                <tr class="odd gradeX">
                    {%for value in mapping.values%}
                            <th ><input value={{value}} ></th>
                     {%endfor%}
                   
                </tr>
                 {%endfor%}
              </tbody>
            </table>
           
          </div>
        </div>
      </div>
    </div>
 </div>
 
 

{%endfor%}    

            
          <a class="btn btn-info" onclick="javascript:document.getElementById('create_form').submit()">save</a>    
          </form>
     
        </div>
      </div>
    
    </div>
   </div>
{%endblock%}
{%block js%}
 {{block.super}}
 <script>
       
       window.onload = initialization()
       
       function  initialization(){
          function deal_effect_time(){
                   var choice  = document.getElementById("s2id_id_appCategory")
                   if(choice!=null){
                       alert("t")
                       var text = choice.innerText
                  
                   
                       if(text.indexOf("定时")!=-1){
                           document.getElementById("id_effectTime").parentNode.parentNode.style.display = "block"  
                      }
                      else{
                          document.getElementById("id_effectTime").parentNode.parentNode.style.display = "none"  
                      }
                 }
          }
          
          
     
          var category = document.getElementById("id_appCategory")
       
          if(category!=null){
       
            category.onclick=deal_effect_time 
          }
       }
       
  
 </script> 

{%endblock%}  
