{%extends "baseForm.html"%} 
{%block form-content%} 
  
        {%load filters%}
       
          <form action={%url "create_main_form"%} method="post" class="form-horizontal" id="create_form">
              {% csrf_token %}
       
              {{main_part|safe}} 
         
            </div>       
          </form>
     
        </div>
      </div>
    
    </div>
   </div>
   
<!--mapping part--->

{%for domainForm in mapping_part%}
 
 <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            domainName: <input type="text" value={{domainForm.domainName}} readOnly=true>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
           </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                 <tr>
                  <th>Ip</th>
                  <th>Mode</th>
                  <th>Sp</th>
                  
                </tr>
              </thead>
              <tbody>
               {%for mapping in domainForm.mapping%}
             
                <tr class="odd gradeX">
                    {%for value in mapping.values%}
                            <th >{{value}} </th>
                     {%endfor%}
                   
                </tr>
                 {%endfor%}
              </tbody>
            </table>
           
          </div>
        </div>
      </div>
    </div>
 </div>
 
 

{%endfor%}
{%ifequal role "verifier"%}
<a class="btn btn-info"  href={%url "change_form_status"  Id "verify" %} >Verify</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info"  href={%url "change_form_status" Id "reject"%}>Reject</a>  
{%endifequal%}

{%ifequal role "applicant"%}
<a class="btn btn-info"  href={%url "change_form_status"  Id "close" %} >Close</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info" id="edit"  href="#">Edit</a> &nbsp&nbsp
<a class="btn btn-info" id="confirm"   href="#">Confirm</a>  
{%endifequal%}
 
{%ifequal role "operator"%}
<a class="btn btn-info"  href={%url "change_form_status"  Id "operate" %} >Operate</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info"  href={%url "change_form_status" Id "reject"%}>Reject</a>  
{%endifequal%}

{%ifequal role "checker"%}
<a class="btn btn-info"  href={%url "change_form_status"  Id "check" %} >Check</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info" href={%url "change_form_status" Id "reject"%}>Reject</a>  
{%endifequal%}

{%endblock%}

{%block js%}
{{super.block}}
<script>
  
           
 var elements =  document.getElementsByClassName("control-label")
 for(var i=0;i<elements.length;i++){
     
          if(elements[i].innerText=="表单状态"){
              var value = elements[i].nextSibling.childNodes[0].value
        
              if(value=="rejected"){
                   document.getElementById("edit").href="{%url 'change_form_status' Id 'edit'%}"
                }
              if(value=="checked"){
              
                   document.getElementById("confirm").href="{%url 'change_form_status' Id 'confirm'%}"
              }
    }
    }
</script>
 {%endblock%}
