{%extends "baseForm.html"%} 

 {%block form-title%}
 <h5>表单主要信息</h5>
 {%endblock%}
 <!--申请表单详细信心的显示-->
{%block form-content%} 
  
        {%load filters%}
      
          <form action={%url "create_main_form"%} method="post" class="form-horizontal" id="create_form">
              {% csrf_token %}
       
              {{main_part|safe}} 
         
            </div>       
          </form>
     
        </div>
      </div>
    
    </div>
   </div>
   
<!--mapping part--->

{%for domainForm in mapping_part%}
 
 <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            域名: <input type="text" value={{domainForm.domainName}} readOnly=true>  <input type="text" value= .{{root}} readOnly="true"> 
           </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
              <thead>
                 <tr>
                  <th>Ip</th>
                  <th>服务供应商</th>
                  <th>模式</th>
                  
                </tr>
              </thead>
              <tbody>
               {%for mapping in domainForm.mapping%}
             
                <tr class="odd gradeX">
                    {%for value in mapping.values%}
                            <th >{{value}} </th>
                     {%endfor%}
                   
                </tr>
                 {%endfor%}
              </tbody>
            </table>
           
          </div>
        </div>
      </div>
    </div>
 </div>
  
{%endfor%}
    <form action="{%url "change_form_status" %}" method="post" id="hidden_form">
    {%csrf_token%}
       <input type="hidden" id="Id" value={{Id}} name="Id">
       <input type="hidden" id="operation" value="" name="operation">
       <input type="hidden" id="comment" value="" name="comment">
       
    </form> 
{%ifequal role "verifier"%}
<a class="btn btn-info"  href="#" onclick="write_comment(this)" id="verify">验证</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info"  href="#"  onclick="write_comment(this)" id="reject">拒绝</a>  
{%endifequal%}

{%ifequal role "applicant"%}
<a class="btn btn-info"  href="#"  id="close" onclick="javascript:submit(this);" style="display:none;float:left" >关闭</a> &nbsp&nbsp
<a class="btn btn-info" id="edit"  href="#"  onclick="javascript:submit(this);" style="display:none;float:left">编辑</a> &nbsp&nbsp
<a class="btn btn-info" id="confirm"   href="#"  onclick="javascript:submit(this);" style="display:none;float:left">确认</a>  
{%endifequal%}
 
{%ifequal role "operator"%}
<a class="btn btn-info"  id="operate" href="#"  onclick="write_comment(this)">操作</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info" id="reject" href="#"  onclick="write_comment(this)">拒绝</a>
 
{%endifequal%}

{%ifequal role "checker"%}
<a class="btn btn-info"  id="check"  href="#"  onclick="write_comment(this)">检查</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info" id="reject" href="#"  onclick="write_comment(this)">拒绝</a>  
{%endifequal%}
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
<a class="btn btn-info" href={%url "show_form_history" Id%}  target="_blank">查看表单历史记录</a>  

 

<!--格式化数据部分-->
 
{%if formattedData %}
<div class="row-fluid"  id="format">
    <div class="widget-box">
      <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
        <h5>wysihtml5</h5>
      </div>
      <div class="widget-content">
        <div class="control-group">
          <form>
            <div class="controls">
              <textarea class="textarea_editor span12" rows="30">{{formattedData}}</textarea>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{%endif%}

{%endblock%}




{%block js%}
{{super.block}}
<script>
    
  //控制评论的编写
  function write_comment(obj){
     var comment = prompt("请写操作备注","请填写操作备注（可为空）")
     var comm = document.getElementById("comment")
     comm.setAttribute("value",comment)
     
     if(comment != null && comment !=undefined){
                submit(obj)
                }
   
   }
   
    function submit(element){
             var oper = document.getElementById("operation")
             oper.setAttribute("value",element.id)
       
             var form = document.getElementById("hidden_form")
             form.submit()
   }
   
</script>

<script>
  
//根据表单状态 控制 按钮的显示          
 var elements =  document.getElementsByClassName("control-label")
 for(var i=0;i<elements.length;i++){
     
          if(elements[i].innerText=="表单状态"){
              var value = elements[i].nextSibling.childNodes[0].value
        
              if(value=="rejected"){
                   document.getElementById("edit").style.display = "block"
                }
              else if(value=="checked"){
              
                   document.getElementById("confirm").style.display = "block"
              }
              else if(value=="unverified"){
                   document.getElementById("close").style.display = "block"
              }
           
    }
    }
    


    
 
</script>


   
 {%endblock%}
