{%extends "base.html"%}
{%block sidebar%}
<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-th"></i>Tables</a>
  <ul>
    <li class="submenu"  id="system_management"> <a href="#" ><i class="icon icon-th-list"></i>系统管理<span>Forms</span></a>
      
       <ul>
    
    {%ifequal obj "user"%}
        <li class="active" ><a href={%url "show_user"%}><i class="icon icon-home"></i> <span>用户管理</span></a> </li>
    {%else%}
        <li><a href={%url "show_user"%}><i class="icon icon-home"></i> <span>用户管理</span></a> </li>
    {%endifequal%} 
    <li><a href={%url "add_user"%}><i class="icon icon-signal"></i> <span>添加用户 </span></a> </li>
    {%ifequal obj "group"%}
         <li class="active"><a href={%url "show_group"%}><i class="icon icon-inbox"></i> <span>群组管理</span></a> </li>
    {%else%}
         <li><a href={%url "show_group"%}><i class="icon icon-inbox"></i> <span>群组管理</span></a> </li>
    {%endifequal%}
         <li ><a href={%url "add_group"%}><i class="icon icon-th"></i> <span>添加群组</span></a></li>
    {%ifequal obj "authority"%}
            <li class="active"><a href={%url "show_authority"%}><i class="icon icon-fullscreen"></i> <span>权限管理</span></a></li>
    {%else%}
            <li><a href={%url "show_authority"%}><i class="icon icon-fullscreen"></i> <span>权限管理</span></a></li>
    {%endifequal%}        
    <li> <a href={%url "add_authority"%}><i class="icon icon-th"></i> <span>添加权限</span></a></li>
    
       </ul>
    </li>
    <li><a href="buttons.html"><i class="icon icon-tint"></i> <span>Buttons &amp; icons</span></a></li>
    <li><a href="interface.html"><i class="icon icon-pencil"></i> <span>Eelements</span></a></li>
    <li class="submenu"> <a href="#"><i class="icon icon-file"></i> <span>Addons</span> <span class="label label-important">5</span></a>
      <ul>
        <li><a href="index2.html">Dashboard2</a></li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="calendar.html">Calendar</a></li>
        <li><a href="chat.html">Chat option</a></li>
      </ul>
    </li>
    <li class="submenu"> <a href=""><i class="icon icon-info-sign"></i> <span>Error</span> <span class="label label-important">4</span></a>
      <ul>
        <li><a href="error403.html">Error 403</a></li>
        <li><a href="error404.html">Error 404</a></li>
        <li><a href="error405.html">Error 405</a></li>
        <li><a href="error500.html">Error 500</a></li>
      </ul>
    </li>
    <li class="content"> <span>Monthly Bandwidth Transfer</span>
      <div class="progress progress-mini progress-danger active progress-striped">
        <div style="width: 77%;" class="bar"></div>
      </div>
      <span class="percent">77%</span>
      <div class="stat">21419.94 / 14000 MB</div>
    </li>
    <li class="content"> <span>Disk Space Usage</span>
      <div class="progress progress-mini active progress-striped">
        <div style="width: 87%;" class="bar"></div>
      </div>
      <span class="percent">87%</span>
      <div class="stat">604.44 / 4000 MB</div>
    </li>
  </ul>
</div>

{%endblock%}
{%block content%}
<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href={%url "admin_home"%} title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
              棣栭〉
    </a>  
  </div>
  <div class="container-fluid">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
           <h5>{%ifequal obj "user"%}
                                             
                                                                            用户管理〃
                {%else%}
                     {%ifequal obj "group"%}
                                                                           群组管理 
                     {%else%}
                                                                             权限管理
                     {%endifequal%}
                {%endifequal%}
           </h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  {%for o in obj_list%}
                   {%if forloop.first%}
                      {%for k in o.get_values.keys%}
                           <th>{{k}}</th>
                      {%endfor%}
                   {%else%}
                   {%endif%}
                  {%endfor%}
                  <th>operation</th>
                </tr>
              </thead>
              
              <tbody>
                {%for o in obj_list%} 
                  <tr>
                  {%load filters%}
                  {%for v in o.get_values.values%}
                  <th class="center">
                  {%if v%}
                    {{v}}
                  {%else%}
                                                                          无
                  {%endif%}
                  </th>
                  {%endfor%} 
                  {%with delete='delete_'|strcat:obj edit='edit_'|strcat:obj%}
                  <th class="center">
                    <a href={%url delete o.id%}><i class="icon icon-remove"></i></a>
                  
                    <a href={%url edit o.id%}><i class="icon icon-edit"></i></a>
                  </span>
                  {%endwith%}
                 
                  </th>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%endblock%}