{%extends "baseList.html"%}
 

 {%block objectlist-title%}
     
           <h5>
            {%ifequal obj "user"%}
                                             
                                                                            用户管理〃
                {%else%}
                     {%ifequal obj "group"%}
                                                                           群组管理 
                     {%else%}
                                                                             权限管理
                     {%endifequal%}
                     {%endifequal%}
           </h5>
{%endblock%}
         
           
{%block list-content%}

            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  {%for o in obj_list%}
                   {%if forloop.first%}
                      {%for k in o.get_values.keys%}
                           <th>{{k}}</th>
                      {%endfor%}
                   {%else%}
                   {%endif%}
                  {%endfor%}
                  <th>操作</th>
                </tr>
              </thead>
              
              <tbody>
                {%for o in obj_list%} 
                  <tr>
                  {%load filters%}
                  {%for v in o.get_values.values%}
                  <th class="center">
                  {%if v%}
                    {{v}}
                  {%else%}
                                                                          无
                  {%endif%}
                  </th>
                  {%endfor%} 
                  {%with delete='delete_'|strcat:obj edit='edit_'|strcat:obj%}
                  <th class="center">
                    <a href=" {%url delete o.id%}"><i class="icon icon-remove" onclick="javascritp:return checkinput()"></i></a>
                  
                    <a href={%url edit o.id%}><i class="icon icon-edit"></i></a>
                  </span>
                  {%endwith%}
                   
                  {%ifequal obj "group"%}
                  
                    <a href={%url "add_user_to_group" o.id%}><i class="icon icon-arrow-up"></i></a>      
                          
                  {%endifequal%}
                  {%ifequal obj "domain"%}
                  
                    <a href={%url "show_detail_of_domain" o.id%}><i class="icon icon-arrow-up"></i></a>      
                          
                  {%endifequal%}
                  
                  </th>
                </tr>
                {%endfor%}
              </tbody>
            </table>
         
{%endblock%}
 