{%extends "baseForm.html"%}
 
        {%block form-content%}
        {%load filters%}
        {%with action="edit_"|strcat:obj%}
          <form action={%url action id%} method="post" class="form-horizontal">
              {% csrf_token %}
              {%endwith%}
               {% for field in form%}
                <div class="control-group">
                   <label class="control-label">{{field.label_tag}}</label>
                   <div class="controls">
                     {{field}}
                    </div>
                    <span class="help-inline">{{field.errors}}</span> 
                </div> 
                 {% endfor %}
           <div class="form-actions"> 
              <button type="submit" class="btn btn-success">Save</button>
            </div>      
          </form>
          {%endblock%}
   
{%block js%}
{{block.super}}
<script>
     var nodes = document.getElementsByTagName("input");
     
     nodes[2].readOnly = true;
    
     
</script>
{%endblock%}
