{%extends "base.html"%}
<!--除去基本外 自带了一些表单的代码-->
{%block content%}
{{block.super}}
<div class="container-fluid" id="main_part">
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          {%block form-title%}<h5>{{obj}}-info</h5>{%endblock%}
        </div>
        <div class="widget-content nopadding"> 
        {%block form-content%}
        {%load filters%}
        {%with action="edit_"|strcat:obj%}
          <form action={%url action id%} method="post" class="form-horizontal">
              {% csrf_token %}
              {%endwith%}
               {% for field in form%}
                <div class="control-group">
                   <label class="control-label">{{field.label_tag}}</label>
                   <div class="controls">
                     {{field}}
                    </div>
                    <span class="help-inline">{{field.errors}}</span> 
                </div> 
                 {% endfor %}
           <div class="form-actions"> 
              <button type="submit" class="btn btn-success">Save</button>
            </div>      
          </form>
          {%endblock%}
     </div>
      </div>
    
    </div>
   </div>
{%endblock%} 
 
